[Unit]
Description=Gitlab-Runner
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jamulus
ExecStart=/bin/bash -c 'sleep 200 && gitlab-runner run'

[Install]
WantedBy=multi-user.target

